<html>
  <head>
    <meta charset='utf-8' />
    <title>Nest MVC | About</title>
  </head>
  <body>
    <nav>
      <a href='/'>Home</a>
      <a>About</a>
    </nav>
    <h1>{{message}}</h1>
  </body>
</html>